@charset "ISO-8859-1";
body{
        background-color: skyblue;
                
    }
input[type=text],input[type=password]
    {
    width: 30%;
    padding : 10px;
    border: 1px solid blue;
    margin-top: 10px;
       
    }
p{
 	 font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 18px;
	font-weight: bold;
	font-variant: small-caps
    }